
<div id="jumbotron_activities" class="jumbotron container-fluid">

</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Activities</h1>
        <div class="panel panel-default">
        <div class="panel heading">Rutgers Movie Theater</div>
        <div class="panel-body">"Lorem ipsum etc etc etc movie stuff"</div>
        <br/>
        <div class="panel panel-default">
        <div class="panel-heading">Rutgers Student Activities Center</div>
        <div class="panel-body">"Lorem ipsum blah blah blah student activities include one two and three. its located next to Frelinghuysen Hall with a nice view of the Raritan river?"</div>
        