 <!DOCTYPE html>
 <html>
   <head>
     <title>Rutgers Virtual Flyer</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta charset="UTF-8">
     <!-- Latest compiled and minified CSS aka the bootsrap!! -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous">
     <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" type="text/css" href="css/styles.css">
   </head>
   <body>

    <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
        <!--navbar toggled -->
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false">
          <span class="sr-only">toggle navigation</span>
          <span class="sr-only"></span>
          <span class="sr-only"></span>
          <span class="sr-only"></span>
           <div class="row">
            <div class=" col-xs-12 col-sm-9">
                <a href="/home">
                    <h1 class="text-center-xs text-left-sm">Livingston Campus Flyers</h1>
                </a>
            </div>
            <div class="" id="login-registration">
        <ul class="nav navbar-nav navbar-right">
          <li>
          <button id="login-button" class="btn-lg btn-block btn-primary" data-toggle="modal" data-target="#login-modal">Login</button>
          
          </li>
          <li>
            <button id="register-button" class="btn-lg btn-block btn-primary" data-toggle="modal" data-target="#register-modal">Register</button>
          </li>
        </ul>
      </div>
      </div>
    </div>
  </nav>

  
 <!-- Login Modal -->
  <div id="login-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content text-center">
        <div class="modal-body">
          <h3>Log In</h3>
          <form action="/login" method="POST">
            <div class="form-group">
              <input id="loginEmail" type="text" name="username" placeholder="Enter your email" />
            </div>
            <div class="form-group">
              <input id="loginPassword" type="text" name="password" placeholder="Enter your password" />
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Register Modal -->
  <div id="register-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content text-center">
        <div class="modal-body">
          <h3>Register</h3>
          <form action="/register" method="POST">
            <div class="form-group">

              <input id="registerFirstName" type="text" name="firstname" placeholder="Enter your first name"/>

            </div>
            <div class="form-group">
              <input id="registerLastName" type="text" name="lastname" placeholder="Enter your last name"/>
            </div>
            <div class="form-group">

              <input id="registerEmail" type="text" name="email" placeholder="Enter your email" />
            </div>
            <div class="form-group">
              <input id="registerPassword" type="text" name="password" placeholder="Enter a password" />

            </div>
            <button type="submit" class="btn btn-primary">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>

     {{{ body }}}


   <br/>
   <br/>
   <br/>
   <br/>
   <br/>
   <br/>
   <br/>
   <br/>
   <br/>
    <footer class="footer">
      <div class="container-fluid">
        <div class="row">

          <div class="col lg-6 sm-12">
            <h5>Rutgers Virtual Flyer</h5>
            <p>A project created by two up and coming Web Developers, Chris Campbell, and Carolyn Tevnan</p>
          </div>
          <div class="col lg-3 sm-12">
            <div class="list-group list-style">
              <a href="#" class="list-group-item active">Find us on GitHub.</a>
              <a href="http://www.github.com/ctevnan" class="list-group-item">Carolyn Tevnan</a>
              <a href="https://github.com/chriscampbell32" class="list-group-item">Chris Campbell</a>
            </div>
          </div>    
          <div class="col lg-3 sm-12">
            <h5>Connect</h5>
            <p>Are you interested in contacting us for further information? Here are a few options. We look forward to speaking with you.</p>
            <div class="row">
              <div class="col lg-3 sm-12">
                <p><span class="glyphicon glyphicon-map-marker"></span> Greater New York City Area</p>
                <p><span class="glyphicon glyphicon-phone"></span> Carolyn Tevnan: (203)885-8308</p>
                <p><span class="glyphicon glyphicon-phone"></span>
                  Chris Campbell: (917)755-9912</p>
                <p><span class="glyphicon glyphicon-envelope"></span> CarolynTevnan@gmail.com</p>
                <p><span class="glyphicon glyphicon-envelope"></span> cwcampbell32@icloud.com</p>   
              </div>
            </div>  
          </div>

        </div>
      </div>
    </footer>
  
   

   <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
   </body>

 </HTML> 