
<div id="jumbotron_activities" class="jumbotron container-fluid">
<img src="public/images/rutgerscenters.png" class="container-fluid" width="100%">
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Activities</h1>
        <div class="panel panel-default">
        <img src="public/images/rutgersmovie.png" class="container-fluid" width="100%"></div>
        <div class="panel heading">Rutgers Movie Theater</div>
        <div class="panel-body">"Lorem ipsum etc etc etc movie stuff"</div>
        <br/>
        <div class="panel panel-default">
        <img src="public/images/Photo_Frontpage_Nav_Student-Centers.jpg" class="container-fluid" width="100%">
        <div class="panel-heading">Rutgers Student Activities Center</div>
        <div class="panel-body">"Lorem ipsum blah blah blah student activities include one two and three. its located next to Frelinghuysen Hall with a nice view of the Raritan river?"</div>
        