<div class="jumbotron container-fluid">
  <h1> Welcome </h1>
  <p>things to do on Livingston campus</p>
</div>
<div class="container">

    <div class="row col-md-12">

      <div class="categories">

        <div class="col-md-4">
          <a href="/restaurant" name="business_category" value="restaurant" class="btn-lg btn-block btn-primary">Restaurants</a>
        </div>

        <div class="col-md-4">
          <a  href="/sports" value="sports" class="btn-lg btn-block btn-primary">Sports</a>
        </div>

        <div class="col-md-4">
          <a href="/" value="activities" class="btn-lg btn-block btn-primary">activities</a>
        </div>
      </div>
    </div>
  </div>

     {{{ body }}}
     
   
