<<<<<<< HEAD
    <h1> This is the homepage</h1>
    <div class="row">
    <div class="col-xs-12">
      <img src="http://localhost:3000/static/public/images/scontent-lga3-1.xx.fbcdn.net/hphotos-xap1/t31.0-8/12188193_965547882771_7012955238591374110_o.jpg" alt="No Image right now. Come back later."/>
    </div>
  </div>  
=======
<h1>Home Page</h1>
>>>>>>> 516e61f93c9c4f2dd8d597e3a8d90145c1423785
