<div class="row">
    <h2> Login page </h2>
    <form class= "col-sm-12">
        <div class= "row">
            <div class= "input-field col-sm-12">
            <input id= "email" type="email" class="validate">
            <label for="email"> Email</label>
        </div>
    </div>
    <div class= "row">
        <div class="input-field col-sm-12">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
    </div>
  </div>
</form>
</div>