
<div id="jumbotron_sports" class="jumbotron container-fluid">
  
</div>


  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
       <h1>Sports</h1>
       <button id="sports-button" class="btn-lg btn-block btn-primary" data-toggle="modal" data-target="#sports-modal">Add a Sport!</button>
       <!-- Sports Modal -->
  <div id="sports-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content text-center">
        <div class="modal-body">
          <h3>Sports</h3>
          <form action="/sports" method="POST">
            <div class="form-group">
              <input id="addSport" type="text" name="sport" placeholder="Enter a sport" />
            </div>
            <div class="form-group">
              <input id="addDescription" type="text" name="description" placeholder="enter a description" />
            </div>
            <button type="submit" class="btn btn-primary">Enter</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{#if isAuthenticated}}
  <h2> {{ sport }}</h2>
{{else}}
  <h2>SORRY</h2>
{{/if}}
        <div class="panel panel-default">
          <div class="panel-heading">RU basketball</div>
          <div class="panel-body">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</div>
            <br>
        <div class="panel panel-default">
          <div class="panel-heading">Rutgers Gym</div>
          <div class="panel-body">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</div>
        </div>


  